<a href="https://colab.research.google.com/github/S10683013/Bigdata/blob/master/1015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
a<- 5L
b<- -5
c<- 7.3
str(a)
str(b)
str(c)

 int 5
 num -5
 num 7.3

In [94]:
d <- "hello"
str(d)

 chr "hello"

In [95]:

is.numeric(a)
is.integer(a)

[1] TRUE

[1] TRUE

In [96]:
f<- c(98,97,96)
g<- c("李赫安","連翊呈")
f[c(1,3,2,3,1)]
g[c(2,1,1,2)]

[1] 98 96 97 96 98

[1] "連翊呈" "李赫安" "李赫安" "連翊呈"

In [97]:
gender<- c("男","女","男","女","男")
gender<- factor(gender)
gender
levels(gender)

[1] 男 女 男 女 男
Levels: 女 男

[1] "女" "男"

In [83]:
j<-matrix(c(1:6),nrow=2,ncol=3)
j
k<-matrix(c(1:10),nrow=5,ncol=2)
k

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

     [,1] [,2]
[1,] 1     6
[2,] 2     7
[3,] 3     8
[4,] 4     9
[5,] 5    10

In [85]:
k[1,2]
k[5,1]

[1] 6

[1] 5

In [87]:
tmp<- data.frame(Studen_ID=c(1,2,3,4,5),name=c("jojo","william","john","hen","rey"),score=c(100,90,80,70,60))
tmp

  Studen_ID name    score
1 1         jojo    100
2 2         william  90
3 3         john     80
4 4         hen      70
5 5         rey      60

In [109]:
tmp[2,2]
tmp[,3]
tmp$name == "jojo"
tmp[tmp$name=="william",]

[1] "william"

[1] 100  90  80  70  60

[1]  TRUE FALSE FALSE FALSE FALSE

  Studen_ID name    score
2 2         william 90

In [110]:
install.packages("SportsAnalytics")
library(SportsAnalytics)
NBA1516<- fetch_NBAPlayerStatistics("15-16")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [111]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [114]:
head(NBA1516,n=5)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17

In [115]:
tail(NBA1516,n=5)

    League Name           Team Position GamesPlayed TotalMinutesPlayed
472 NBA    Joseph Young   IND  PG       41           384
473 NBA    Nick Young     LAL  SF       54          1036
474 NBA    Thaddeus Young BRO  SF       73          2413
475 NBA    Cody Zeller    CHA  PF       73          1773
476 NBA    Tyler Zeller   BOS  C        60           714
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
472  62            170                 10          46             ⋯  15
473 126            372                 77         237             ⋯  23
474 495            963                  7          30             ⋯ 112
475 231            437                  1          10             ⋯  57
476 138            290                  0           0             ⋯  10
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
472  33        0      30           0                  154        0
473  30        7      50           0                  392        1
474 136       37     182           3                 1102        1
475  68       63     204           4                  638        0
476  46       22      97           1                  364        0
    Ejections FlagrantFouls GamesStarted
472 0         0              0
473 0         0              2
474 0         0             73
475 0         0             60
476 0         0              3

In [120]:
NBA1516order<- NBA1516[order(NBA1516$GamesPlayed,decreasing = T),]
NBA1516order[1:10,]

    League Name             Team Position GamesPlayed TotalMinutesPlayed
11  NBA    Al-farouq Aminu  POR  SF       82          2342
37  NBA    Will Barton      DEN  SG       82          2355
48  NBA    Bismack Biyombo  TOR  PF       82          1810
62  NBA    Corey Brewer     HOU  SG       82          1670
118 NBA    Gorgui Dieng     MIN  C        82          2222
148 NBA    Langsto Galloway NYK  PG       82          2032
178 NBA    James Harden     HOU  SG       82          3121
208 NBA    Al Horford       ATL  PF       82          2638
246 NBA    Enes Kanter      OKL  C        82          1721
259 NBA    Zach Lavine      MIN  PG       82          2295
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
11  299             719                126        349             ⋯  72
37  426             984                112        324             ⋯  71
48  156             288                  0          1             ⋯  19
62  212             552                 61        225             ⋯  84
118 308             578                  6         20             ⋯  94
148 231             588                 77        224             ⋯  77
178 710            1617                236        656             ⋯ 138
208 529            1049                 88        257             ⋯  67
246 415             720                 10         21             ⋯  26
259 433             960                123        316             ⋯  69
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
11  120        53    171           0                  839        3
37  139        39    147           0                 1180        2
48   71       133    225           2                  454        3
62   78        19    168           1                  590        0
118 140        96    219           0                  827        1
148  61        22    177           2                  625        0
178 374        51    229           1                 2376        2
208 107       122    163           0                 1249        1
246 115        33    166           1                 1040        2
259 155        17    193           1                 1150        0
    Ejections FlagrantFouls GamesStarted
11  0         0             82
37  0         0              1
48  0         0             22
62  0         0             12
118 0         0             39
148 0         0              7
178 0         0             82
208 0         0             82
246 0         0              1
259 0         0             33

In [124]:
NBA1516[grepl("Curry",NBA1516$Name),]

    League Name          Team Position GamesPlayed TotalMinutesPlayed
105 NBA    Seth Curry    SAC  SG       44           694
106 NBA    Stephen Curry GSW  PG       79          2705
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
105 102             224                 50        111             ⋯  22
106 805            1597                402        887             ⋯ 169
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
105  36        3      41           0                  299        0
106 261       16     161           0                 2375        1
    Ejections FlagrantFouls GamesStarted
105 0         0              9
106 0         0             79

In [125]:
install.packages("data.table")
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [127]:
NBA1516DT<-data.table(NBA1516)
NBA1516DT[grepl("James",Name)]

  League Name           Team Position GamesPlayed TotalMinutesPlayed
1 NBA    James Anderson SAC  SG       51           721
2 NBA    James Ennis    NOR  SF       22           329
3 NBA    James Harden   HOU  SG       82          3121
4 NBA    Lebron James   CLE  SF       76          2710
5 NBA    James Johnson  TOR  PF       57           924
6 NBA    James Jones    CLE  SG       48           466
7 NBA    James Mcadoo   GSW  SG       41           265
8 NBA    James Young    BOS  SG       29           200
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1  67             178                 23         86             ⋯  21
2  54             113                 26         58             ⋯  16
3 710            1617                236        656             ⋯ 138
4 737            1416                 87        282             ⋯ 104
5 114             240                 20         66             ⋯  29
6  59             143                 41        104             ⋯  11
7  45              84                  1          2             ⋯  10
8  11              36                  6         26             ⋯   6
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1  42       14      54           0                  179        0
2  19        5      28           1                  159        0
3 374       51     229           1                 2376        2
4 249       49     143           0                 1920        3
5  54       33      84           0                  287        0
6  13       10      50           0                  180        1
7  16        8      39           0                  117        0
8   5        1      17           0                   29        0
  Ejections FlagrantFouls GamesStarted
1 0         0             15
2 0         0              5
3 0         0             82
4 0         0             76
5 0         0             32
6 0         0              0
7 0         0              1
8 0         0              0

In [133]:
NBA1516DT[GamesPlayed>80]

   League Name             Team Position GamesPlayed TotalMinutesPlayed
1  NBA    Al-farouq Aminu  POR  SF       82          2342
2  NBA    Trevor Ariza     HOU  SF       81          2860
3  NBA    Will Barton      DEN  SG       82          2355
4  NBA    Aron Baynes      DET  PF       81          1241
5  NBA    Bismack Biyombo  TOR  PF       82          1810
6  NBA    Corey Brewer     HOU  SG       82          1670
7  NBA    Allen Crabbe     POR  SF       81          2111
8  NBA    Ed Davis         POR  PF       81          1684
9  NBA    Gorgui Dieng     MIN  C        82          2222
10 NBA    Andre Drummond   DET  C        81          2664
11 NBA    Jared Dudley     WAS  SG       81          2098
12 NBA    Monta Ellis      IND  PG       81          2733
13 NBA    Randy Foye       OKC  SG       81          1640
14 NBA    Langsto Galloway NYK  PG       82          2032
15 NBA    Paul George      IND  SF       81          2828
16 NBA    Draymond Green   GSW  SF       81          2807
17 NBA    James Harden     HOU  SG       82          3121
18 NBA    Roy Hibbert      LAL  C        81          1881
19 NBA    Al Horford       ATL  PF       82          2638
20 NBA    Joe Ingles       UTA  SF       81          1241
21 NBA    Joe Johnson      MIA  SF       81          2703
22 NBA    Frank Kaminsky   CHA  PF       81          1713
23 NBA    Enes Kanter      OKL  C        82          1721
24 NBA    Zach Lavine      MIN  PG       82          2295
25 NBA    Robin Lopez      NYK  C        82          2213
26 NBA    T.j. Mcconnell   PHI  PG       81          1609
27 NBA    Doug Mcdermott   CHI  SF       81          1860
28 NBA    Patty Mills      SAN  PG       81          1659
29 NBA    Paul Millsap     ATL  PF       81          2640
30 NBA    Shabazz Muhammad MIN  SF       82          1678
31 NBA    Raul Neto        UTA  PG       81          1501
32 NBA    Mason Plumlee    POR  PF       82          2087
33 NBA    Julius Randle    LAL  PF       81          2287
34 NBA    Ramon Sessions   WAS  PG       82          1667
35 NBA    Jared Sullinger  BOS  PF       81          1917
36 NBA    Isaiah Thomas    BOS  PG       82          2647
37 NBA    Tristan Thompson CLE  C        82          2269
38 NBA    Karl-antho Towns MIN  C        82          2621
39 NBA    P.j. Tucker      PHO  SF       82          2540
40 NBA    Evan Turner      BOS  SG       81          2270
41 NBA    Kemba Walker     CHA  PG       81          2885
42 NBA    Andrew Wiggins   MIN  SF       81          2844
43 NBA    Marvin Williams  CHA  PF       81          2339
   FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1  299             719                126        349             ⋯  72
2  357             858                185        497             ⋯ 161
3  426             984                112        324             ⋯  71
4  194             384                  0          2             ⋯  21
5  156             288                  0          1             ⋯  19
6  212             552                 61        225             ⋯  84
7  312             678                112        284             ⋯  63
8  206             337                  0          0             ⋯  57
9  308             578                  6         20             ⋯  94
10 552            1061                  2          6             ⋯ 119
11 233             487                100        239             ⋯  75
12 436            1021                 87        281             ⋯ 149
13 168             481                 75        250             ⋯  39
14 231             588                 77        224             ⋯  77
15 605            1448                210        565             ⋯ 152
16 401             819                100        258             ⋯ 118
17 710            1617                236        656             ⋯ 138
18 182             411                  0          2             ⋯  32
19 529            1049                 88        257             ⋯  67
20 124             291                 81        210             ⋯  55
21 377             859                120        313             ⋯  61
22 215             525                 68        202             ⋯  37
23 415             720                 10         21             ⋯  26
24 433             960                123        316             ⋯  69
25 357             662                  0          1             ⋯  16
26 218             464                 31         89             ⋯  95
27 291             644                110        259             ⋯  14
28 260             612                123        320             ⋯  59
29 501            1067                 74        232             ⋯ 148
30 317             681                 44        152             ⋯  24
31 180             418                 64        162             ⋯  62
32 267             517                  0          4             ⋯  68
33 358             835                 10         36             ⋯  53
34 280             592                 36        111             ⋯  47
35 351             807                 29        104             ⋯  75
36 591            1382                167        465             ⋯  91
37 247             420                  0          0             ⋯  38
38 625            1152                 30         88             ⋯  58
39 239             582                 68        206             ⋯ 106
40 343             753                 20         83             ⋯  80
41 568            1332                182        490             ⋯ 127
42 594            1294                 57        190             ⋯  78
43 338             747                152        379             ⋯  58
   Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1  120        53    171           0                  839         3
2  113        26    177           0                 1025         2
3  139        39    147           0                 1180         2
4   67        52    151           0                  514         0
5   71       133    225           2                  454         3
6   78        19    168           1                  590         0
7   64        16    192           2                  834         0
8   64        72    202           2                  526         2
9  140        96    219           0                  827         1
10 154       112    245           2                 1314         7
11  80        18    190           1                  638         1
12 203        38    174           0                 1121         1
13  86        29    131           0                  472         0
14  61        22    177           2                  625         0
15 265        29    230           1                 1874         6
16 259       111    240           2                 1131        11
17 374        51    229           1                 2376         2
18  76       110    252           3                  481         2
19 107       122    163           0                 1249         1
20  65         4     98           0                  342         1
21 160         4    146           0                  992         1
22  58        43    126           0                  606         0
23 115        33    166           1                 1040         2
24 155        17    193           1                 1150         0
25 133       129    182           2                  842         3
26 140        10    114           0                  493         0
27  52         6    127           0                  764         0
28  76         6    102           0                  690         0
29 191       140    237           2                 1385         4
30  70         7     94           0                  863         0
31 109         2    122           1                  476         0
32 154        82    253           4                  749         1
33 149        29    242           2                  919         0
34 115         5    102           0                  810         0
35 102        47    209           2                  834         2
36 220         9    167           1                 1823         9
37  61        51    202           0                  643         1
38 183       138    245           1                 1503         2
39 111        20    202           3                  652         4
40 169        28    139           0                  854         2
41 171        39    111           0                 1689         5
42 182        46    165           1                 1675         1
43  62        77    133           1                  948         0
   Ejections FlagrantFouls GamesStarted
1  0         0             82
2  0         0             81
3  0         0              1
4  0         0              1
5  0         0             22
6  0         0             12
7  0         0              8
8  0         0              0
9  0         0             39
10 0         0             81
11 0         0             41
12 0         0             81
13 0         0              8
14 0         0              7
15 0         0             81
16 0         0             81
17 0         0             82
18 0         0             81
19 0         0             82
20 0         0              2
21 0         0             81
22 0         0              3
23 0         0              1
24 0         0             33
25 0         0             82
26 0         0             17
27 0         0              4
28 0         0              3
29 0         0             81
30 0         0              0
31 0         0             53
32 0         0             82
33 0         0             60
34 0         0              5
35 0         0             73
36 0         0             79
37 0         0             34
38 0         0             82
39 0         0             80
40 0         0             12
41 0         0             81
42 0         0             81
43 0         0             81

In [134]:
NBA1516DT[grepl("J",Name)&Position=="SF"]

   League Name             Team Position GamesPlayed TotalMinutesPlayed
1  NBA    Jae Crowder      BOS  SF       73          2310
2  NBA    James Ennis      NOR  SF       22           329
3  NBA    Jeremy Evans     DAL  SF       30           251
4  NBA    Jerami Grant     PHI  SF       77          2068
5  NBA    Jeff Green       LAC  SF       80          2258
6  NBA    Josh Huestis     OKL  SF        5            55
7  NBA    Joe Ingles       UTA  SF       81          1241
8  NBA    Lebron James     CLE  SF       76          2710
9  NBA    Richar Jefferson CLE  SF       74          1326
10 NBA    Chris Johnson    UTA  SF       70           858
11 NBA    Joe Johnson      MIA  SF       81          2703
12 NBA    Stanley Johnson  DET  SF       73          1685
13 NBA    J.j. O'brien     UTA  SF        1             2
14 NBA    Jabari Parker    MIL  SF       76          2407
15 NBA    Josh Smith       HOU  SF       55           878
16 NBA    Justise Winslow  MIA  SF       78          2237
   FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1  359             812                122        363             ⋯ 126
2   54             113                 26         58             ⋯  16
3   26              48                  4         16             ⋯   6
4  251             599                 35        146             ⋯  54
5  354             824                 67        213             ⋯  58
6    5              12                  4          6             ⋯   1
7  124             291                 81        210             ⋯  55
8  737            1416                 87        282             ⋯ 104
9  143             312                 66        173             ⋯  33
10  72             194                 27         99             ⋯  32
11 377             859                120        313             ⋯  61
12 225             600                 63        205             ⋯  55
13   0               1                  0          0             ⋯   0
14 443             899                  9         35             ⋯  69
15 127             349                 41        143             ⋯  34
16 196             463                 32        116             ⋯  68
   Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1   83        35    198           4                 1036        3
2   19         5     28           1                  159        0
3    7         9     19           0                   71        0
4  110       127    215           1                  749        2
5   93        40    164           0                  939        0
6    3         2      3           0                   14        0
7   65         4     98           0                  342        1
8  249        49    143           0                 1920        3
9   43        14    129           0                  410        1
10  40        20    100           1                  205        0
11 160         4    146           0                  992        1
12 114        12    178           2                  593        2
13   0         0      0           0                    0        0
14 116        29    154           0                 1070        0
15  77        47    118           1                  332        1
16  95        26    184           0                  504        0
   Ejections FlagrantFouls GamesStarted
1  0         0             73
2  0         0              5
3  0         0              2
4  0         0             52
5  0         0             41
6  0         0              0
7  0         0              2
8  0         0             76
9  0         0              5
10 0         0              2
11 0         0             81
12 0         0              6
13 0         0              0
14 0         0             72
15 0         0              7
16 0         0              8